# Ignoruj wirtualne środowisko
Code/venv/
Code/.env/

# Ignoruj bazę danych, ale zostaw zdjęcia testowe i .gitkeep
Code/data/Train
Code/data/selected_signs
Code/data/db_balanced

# Ignoruj pliki tymczasowe Pythona
Code/__pycache__/
Code/*.pyc

# Ignoruj cache cech i wyniki eksperymentow (notebook 04)
Code/notebooks/cache_features/
Code/notebooks/wyniki_eksperymentow/

# Ignoruj archiwa
Code/*.zip
Code/*.rar
Code/DB.zip

# Ignoruj pliki LATEX
Documentation/main.aux
Documentation/main.fdb_latexmk
Documentation/main.fls
Documentation/main.log
Documentation/main.out
Documentation/main.synctex.gz
Documentation/main.toc