# Ignoruj wirtualne środowisko
venv/
.env/

# Ignoruj bazę danych, ale ZOSTAW zdjęcia testowe i .gitkeep
data/*
!data/.gitkeep
!data/test_images/

# Ignoruj pliki tymczasowe Pythona
__pycache__/
*.pyc

# Ignoruj archiwa
*.zip
*.rar
DB.zip